env/

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log
nohup.out

.env
.env.local
*.venv

pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile.lock

.dockerignore
Dockerfile~
*.tar

*.DS_Store
*.vscode/
.idea/
*.swp
*.swo

htmlcov/
.tox/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml

*.iml
.mypy_cache/
.pytest_cache/